{% extends 'concerts/base.html' %}

{% block content %}
	{% for c in concerts %}	
	<tr>
		<th>{{c.band.b_name}}</th>
		<th>{{c.place.pl_name}}</th>
		<th>{{c.place.city}}</th>
		<th>{{c.org.org_name}}</th>
		<th>{{c.price}}</th>
		<th>{{c.date}}</th>
		<th>{{c.description}}</th>
		<th class="edit-btn">
			<form action="{% url 'concerts:detail' c.concert_id %}">
				<button type="submit" class="btn  btn-sm">
					<span class="glyphicon glyphicon-option-horizontal"></span>
				</button>
			</form>
		</th>
		<th class="edit-btn">
			<form action="{% url 'concerts:edit' c.concert_id %}">
				<button type="submit" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</form>
		</th>
		<th class="edit-btn">
			<form action="{% url 'concerts:remove' c.concert_id %}" method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger btn-sm">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</form>
		</th>
	</tr>
	{% endfor %}	
{% endblock %}
					